/* Set the font family and center the content vertically and horizontally */
body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style the heading */
h3 {
  font-size: 32px;
  text-align: center;
}

/* Style the form input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 95%;
  margin-bottom: 20px;
}

/* Style the buttons */
button {
  font-size: 20px;
  background-color: #0d67ee;
  color: white;
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the buttons when hovering over them */
button:hover {
  background-color: #0844a6;
}

.right-btn {
  float: right;
}

/* Style the form labels */
label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

/* Style the logo image */
img {
  max-width: 500px;
  height: auto;
  margin-bottom: 40px;
  margin-top: 60px;
}

.track {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.route {
  max-width: 10%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.route-icon {
  width: 20%; /* adjust as needed */
  margin-right: 20px; /* spacing between icon and details */
  height: fit-content;
}

/* Style the form container */
.container {
  width: 500px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.two_side-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.half {
  width: 100%;
  overflow: hidden;
}

.left-half {
  width: 50%;
  float: left;
}

.right-half {
  width: 50%;
  float: right;
}

.route-container {
  display: flex;
  align-items: center;
}

.route-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* fills remaining space */
}

.route-container2 {
  display: flex;
  align-items: center;
  max-height: 160px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 4px solid #0844a6;
  padding-left: 5px;
  cursor: pointer; /* Add this line to change the cursor to a pointer */
}
